*{
margin:0;
padding:0;
box-sizing:border-box;
font-style:normal;
}

html{
--color-bg:#121211;
--color-text:#f9f9f7;
--color-muted:#bdbdbd;
}

body{
background:var(--color-bg);
font:14px/1.45 monospace;
color:var(--color-text);
}

main{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.ct{
margin:auto;
max-width:600px;
padding:20px;
}

ul{
list-style:none;
}

li{
margin:12px 0;
}

a{
color:var(--color-text);
text-decoration:none;
}

a.as{
cursor:pointer;
user-select:none;
}

.pt li::before{
content:"";
position:absolute;
width:8px;
height:1px;
background:white;
margin-top:12px;
left:-10px;
}

footer{
text-align:center;
padding:20px;
}

small{
color:var(--color-muted);
}